@import "tailwindcss";

:root {
  --white: #ffffff;
  --foreground: #ededed;
  --bg: #0c0c0c;

  --font-body: var(--font-poppins);
  --font-heading: var(--font-libre-caslon);
  --font-mono: var(--font-geist-mono);
}

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: var(--font-poppins); /* Use the font variable */
}

/* Optional: assign fonts to elements selectively */
h1 {
  font-family: var(--font-libre-caslon);
}

.b_container {
  max-width: 1336px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.triangle-small {
  border-bottom: 60px solid var(--white);
  border-left: 60px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  right: 0;
}
